.img-half {
  float: left;
  width: 50%;
	margin: 1em 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.img-half figcaption{
	font-size: 0.9em;
	margin-top: -6px;
	padding-left: 6px;
	padding-right: 6px;
	background: #eee;
}

.tc-tag-label{
	display: inline-block;
	padding: 0.16em 0.7em;
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1.2em;
	color: #000;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #ffeedd;
	border-radius: 1em;
}